:host {
  font-size: 22px;
  padding: 0.375rem 0;
  border-radius: 10px;

  ::ng-deep input[type="submit"],
  ::ng-deep button {
    background-color: inherit;
    border: inherit;
    color: inherit;
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;

    ::ng-deep input[type="submit"],
    ::ng-deep button {
      opacity: inherit;
      pointer-events: inherit;
    }
  }
}
