.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;

  &-title {
    flex-basis: 60%;
  }

  &-info {
    flex-basis: 10%;
    position: relative;
    display: inline-block;

    &-icon {
      padding-top: 2px;
    }
  }

  &-icons {
    flex-basis: 20%;

    &-delete,
    &-done {
      padding-top: 5px;
      transition: all 0.2s ease-in-out;
    }

    &-delete {
      margin-right: 5px;
    }

    &-done {
      margin-left: 5px;
    }

    &-delete:hover,
    &-done:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
