header {
  border-bottom: 2px solid black;
  .header-container {
    width: 90%;
    margin: 0 auto;

    .logo-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    nav {
      height: 50px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        list-style: none;
        text-decoration: none;
        padding: 0;

        li {
          display: inline-block;
          margin: 0px 30px 0 0;

          a {
            font-size: 24px;
            text-decoration: none;
            color: black;
            transition: 0.3s;

            &:hover {
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
}

.content {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
